.box-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.box-icon:focus-visible {
    outline: 2px solid var(--btn-focus-visible);
    border-radius: 4px;
}

.icon-img {
    background-image: url(../../../assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
}

.icon-menu-option {
    background-position: -428px -92px;
    width: 16px;
    height: 16px;
    /* margin-right: 10px; */
}

.icon-dashboard {
    background-position: -33px -1630px;
    width: 18px;
    height: 20px
}

.icon-cash {
    background-position: -78px -1631px;
    width: 14px;
    height: 19px;
}

.icon-bank {
    background-position: -121px -1633px;
    width: 16px;
    height: 16px;
}

.icon-pu {
    background-position: -165px -1632px;
    width: 16px;
    height: 18px;
}

.icon-sale {
    background-position: -206px -1631px;
    width: 20px;
    height: 18px
}

.icon-invoice {
    background-position: -254px -1632px;
    width: 14px;
    height: 17px;
}

.icon-stock {
    background-position: -294px -1632px;
    width: 18px;
    height: 17px;
}

.icon-tools {
    background-position: -339px -1633px;
    width: 18px;
    height: 17px;
}

.icon-assets {
    background-position: -382px -1632px;
    width: 17px;
    height: 18px;
}

.icon-salary {
    background-position: -427px -1634px;
    width: 16px;
    height: 16px;
}

.icon-price {
    background-position: -471px -1633px;
    width: 17px;
    height: 17px;
}

.icon-general {
    background-position: -514px -1632px;
    width: 16px;
    height: 18px;
}

.icon-budget {
    background-position: -382px -1664px;
    width: 16px;
    height: 16px;
}

.icon-report {
    background-position: -552px -1636px;
    width: 14px;
    height: 13px;
}

.icon-finance {
    background-position: -207px -1667px;
    width: 17px;
    height: 14px;
}

.icon-employee {
    background-position: -120px -1664px;
    width: 17px;
    height: 17px;
}

.icon-three-stripes {
    background-position: -847px -35px;
    width: 16px;
    height: 14px;
    /* margin: 16px; */
}

.icon-chevron-down_L {
    background-position: -1129px -365px;
    width: 14px;
    height: 8px;
    /* margin: 0 8px; */
}

.box-icon-chevron-down_L {
    position: absolute;
    top: 0px;
    left: calc(100% - 36px);
    width: 36px;
    height: 36px;
    border: 1px solid var(--input-border-color);
    border-radius: 0 4px 4px 0;
    border-left: none;
}

.box-icon-chevron-down_L:hover {
    background-color: var(--input-border-color);
}

.icon-chevron-right_L {
    background-position: -1085px -361px;
    width: 8px;
    height: 14px;
}

.icon-chevron-right_L_blur {
    background-position: -84px -409px;
    width: 8px;
    height: 14px;
}

.icon-chevron-left_L {
    background-position: -1085px -361px;
    width: 8px;
    height: 14px;
    transform: rotate(180deg);
}

.icon-chevron-left_L_blur {
    background-position: -36px -409px;
    width: 8px;
    height: 14px;
}

.icon-bell {
    background-position: -788px -30px;
    width: 22px;
    height: 24px;
}

.icon-user-avatar {
    background-position: -352px -894px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    /* margin-right: 8px; */
}

.icon-chevron-down_S {
    background-position: -1800px -478px;
    width: 8px;
    height: 5px;
}

.icon-search {
    background-position: -316px -148px;
    width: 17px;
    height: 16px;
}

.table-control .box-icon-search {
    position: absolute;
    top: 0px;
    left: calc(100% - 36px);
    width: 36px;
    height: 36px;
    border: 1px solid var(--input-border-color);
    border-radius: 0 4px 4px 0;
    border-left: none;
}

.box-icon-search:hover {
    background-color: var(--input-border-color);
}

.icon-refresh {
    background-position: -1098px -90px;
    width: 20px;
    height: 21px;
    cursor: pointer;
}

.icon-refresh:hover {
    background-position: -1098px -146px;
}

.table-control .box-icon-refresh {
    margin-left: 12px;
}

.icon-excel {
    background-position: -1265px -90px;
    width: 23px;
    height: 20px;
}

.icon-excel:hover {
    background-position: -1265px -146px;
}

.table-control .box-icon-excel {
    margin-left: 12px;
}

.icon-arrow-down_blue {
    background-position: -900px -364px;
    width: 8px;
    height: 6px;
    border: none;
}

.box-icon-arrow-down_blue {
    width: 18px;
    height: 14px;
}

.box-icon_checked {
    border: 1px solid var(--primary-btn-background-color);
}

.icon-arrow-down {
    background-position: -564px -364px;
    width: 8px;
    height: 6px;
    transform: rotate(0deg);
    transition: transform 0.5s;
}

.icon-arrow-up {
    background-position: -564px -364px;
    width: 8px;
    height: 6px;
    transform: rotate(180deg);
    transition: transform 0.5s;
}

.form-body .box-icon-arrow-down {
    position: absolute;
    top: 0px;
    left: calc(100% - 36px);
    width: 36px;
    height: 36px;
    border: 1px solid var(--input-border-color);
    border-radius: 0 4px 4px 0;
    border-left: none;
}

.form-body .box-icon-arrow-down:hover {
    background-color: var(--input-border-color);
}

.icon-question {
    background-position: -89px -145px;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.icon-x_L {
    background-position: -147px -147px;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.form-header .box-icon-x_L {
    margin-left: 12px;
}

.icon-calendar {
    background-position: -128px -312px;
    width: 16px;
    height: 16px;
}

.box-icon-calendar {
    position: absolute;
    top: 0px;
    left: calc(100% - 36px);
    width: 36px;
    height: 36px;
    border: 1px solid var(--input-border-color);
    border-radius: 0 4px 4px 0;
    border-left: none;
}

.box-icon-calendar:hover {
    background-color: var(--input-border-color);
}

.icon-warning_L {
    background-position: -598px -463px;
    width: 36px;
    height: 37px;
}

.icon-error_L {
    background-position: -752px -462px;
    width: 36px;
    height: 36px;
}

.icon-question_L {
    background-position: -832px -462px;
    width: 36px;
    height: 36px;
}

.notif-describe .box-icon {
    display: inline-block;
    width: 36px;
    height: 37px;
    margin-right: 24px;
}

.icon-x_M {
    background-position: -1178px -362px;
    width: 12px;
    height: 12px;
}

.icon-x_M-white {
    background-position: -1322px -362px;
    width: 12px;
    height: 12px;
}

/* .box-icon-error {
    margin: 6px;
    background-color: var(--input-border-color-error);
    border-radius: 50%;
} */

.icon-x_S {
    background-position: -84px -316px;
    width: 8px;
    height: 8px;
}

.checkbox-checked .icon-check {
    background-position: -1273px -363px;
    width: 14px;
    height: 11px;
}

.icon-minus {
    background-position: -317px -37px;
    width: 14px;
    height: 2px;
}

.icon-trash {
    background-position: -464px -313px;
    width: 15px;
    height: 15px;
}

.box-icon-trash {
    margin: 6px;
}

.icon-success {
    background-position: -1602px -258px;
    width: 20px;
    height: 20px;
    cursor: default;
}

.icon-error {
    background-position: -538px -146px;
    width: 20px;
    height: 20px;
}

.icon-warning_S {
    background-position: -593px -145px;
    width: 22px;
    height: 23px;
}