.droplist {
    font-family: notosans-regular;
    position: absolute;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
    overflow: hidden;
    box-shadow: 0 0 3px #606060;
}

.droplist-item {
    padding: 0 8px;
    margin: 2px 0;
    height: 28px;
    line-height: 28px;
    text-align: left;
    cursor: pointer;
}

.droplist-item:hover {
    background-color: #e6e6e6ec;
    color: var(--primary-btn-background-color);
}

.droplist-batch-action {
    top: 48px;
    left: 80px;
    min-width: 110px;
    z-index: 3;
}

.droplist-func {
    min-width: 110px;
    z-index: 1;
}

.droplist-record {
    left: 12px;
    bottom: 36px;
    width: 200px;
    z-index: 1;
}

.droplist-record>.droplist-item:hover,
.droplist-record>.droplist-item.checked {
    background-color: var(--primary-btn-background-color);
    color: #fff;
}